body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .movie-card {
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 50%;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 18px;
  }
  .favorite-btn.active {
    color: rgb(236, 80, 114);
  }
  